<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SAADA_DB_NAME</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>
	  ajaxservlet.InitBaseAtStart
	  </listener-class>
  </listener>
  <security-role>
    <description>reader</description>
    <role-name>reader</role-name>
  </security-role>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>/securedownload requires authentication</web-resource-name>
      <url-pattern>/securedownload</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <role-name>reader</role-name>
    </auth-constraint>
    <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
  <servlet>
    <description></description>
    <display-name>GetJsonArray</display-name>
    <servlet-name>GetJsonArray</servlet-name>
    <servlet-class>ajaxservlet.json.GetJsonArray</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetJsonArray</servlet-name>
    <url-pattern>/getjsonarray</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RunQuery</display-name>
    <servlet-name>RunQuery</servlet-name>
    <servlet-class>ajaxservlet.json.RunQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RunQuery</servlet-name>
    <url-pattern>/runquery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NextPage</display-name>
    <servlet-name>NextPage</servlet-name>
    <servlet-class>ajaxservlet.json.NextPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NextPage</servlet-name>
    <url-pattern>/nextpage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetMeta</display-name>
    <servlet-name>GetMeta</servlet-name>
    <servlet-class>ajaxservlet.json.GetMeta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMeta</servlet-name>
    <url-pattern>/getmeta</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetObject</display-name>
    <servlet-name>GetObject</servlet-name>
    <servlet-class>ajaxservlet.json.GetObject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetObject</servlet-name>
    <url-pattern>/getobject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetSources</display-name>
    <servlet-name>GetSources</servlet-name>
    <servlet-class>ajaxservlet.json.GetObject</servlet-class>
    <init-param>
      <param-name>target</param-name>
      <param-value>sources</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetSources</servlet-name>
    <url-pattern>/getsources</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSDataTree</display-name>
    <servlet-name>JSDataTree</servlet-name>
    <servlet-class>ajaxservlet.json.JSDataTree</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSDataTree</servlet-name>
    <url-pattern>/datatree</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSAttributeHandler</display-name>
    <servlet-name>JSAttributeHandler</servlet-name>
    <servlet-class>ajaxservlet.json.JSAttributeHandlers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSAttributeHandler</servlet-name>
    <url-pattern>/aharray</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionServlet</display-name>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>ajaxservlet.SessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/sessionservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetVignette</display-name>
    <servlet-name>GetVignette</servlet-name>
    <servlet-class>ajaxservlet.GetVignette</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetVignette</servlet-name>
    <url-pattern>/getvignette</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Download</display-name>
    <servlet-name>Download</servlet-name>
    <servlet-class>ajaxservlet.Download</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Download</servlet-name>
    <url-pattern>/download</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Getproduct</display-name>
    <servlet-name>Getproduct</servlet-name>
    <servlet-class>ajaxservlet.Download</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Getproduct</servlet-name>
    <url-pattern>/getproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SiaService</display-name>
    <servlet-name>SiaService</servlet-name>
    <servlet-class>ajaxservlet.SiaService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SiaService</servlet-name>
    <url-pattern>/siaservice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetQueryReport</display-name>
    <servlet-name>GetQueryReport</servlet-name>
    <servlet-class>ajaxservlet.GetQueryReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetQueryReport</servlet-name>
    <url-pattern>/getqueryreport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sesame</display-name>
    <servlet-name>Sesame</servlet-name>
    <servlet-class>ajaxservlet.json.Sesame</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sesame</servlet-name>
    <url-pattern>/sesame</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetRegistry</display-name>
    <servlet-name>GetRegistry</servlet-name>
    <servlet-class>ajaxservlet.GetRegistry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetRegistry</servlet-name>
    <url-pattern>/getregistry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Simbad</display-name>
    <servlet-name>Simbad</servlet-name>
    <servlet-class>ajaxservlet.Simbad</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Simbad</servlet-name>
    <url-pattern>/simbad</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SsaService</display-name>
    <servlet-name>SsaService</servlet-name>
    <servlet-class>ajaxservlet.SsaService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SsaService</servlet-name>
    <url-pattern>/ssaservice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConeSearch</display-name>
    <servlet-name>ConeSearch</servlet-name>
    <servlet-class>ajaxservlet.ConeSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConeSearch</servlet-name>
    <url-pattern>/conesearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>TAPService</display-name>
    <servlet-name>TAPService</servlet-name>
    <servlet-class>ajaxservlet.TAPService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TAPService</servlet-name>
    <url-pattern>/tap</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>TAPSync</display-name>
    <servlet-name>TAPSync</servlet-name>
    <servlet-class>ajaxservlet.TAPSync</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TAPSync</servlet-name>
    <url-pattern>/tap/sync</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>TAPASync</display-name>
    <servlet-name>TAPASync</servlet-name>
    <servlet-class>ajaxservlet.TAPASync</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TAPASync</servlet-name>
    <url-pattern>/tap/async/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>TAPAvailability</display-name>
    <servlet-name>TAPAvailability</servlet-name>
    <servlet-class>ajaxservlet.TAPAvailability</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TAPAvailability</servlet-name>
    <url-pattern>/tap/availability</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>TAPTables</display-name>
    <servlet-name>TAPTables</servlet-name>
    <servlet-class>ajaxservlet.TAPTables</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TAPTables</servlet-name>
    <url-pattern>/tap/tables</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>TAP capabilities</display-name>
    <servlet-name>TAPCapabilities</servlet-name>
    <servlet-class>ajaxservlet.TAPCapabilities</servlet-class>
    <init-param>
      <param-name>capabilities</param-name>
      <param-value>ivo://ivoa.net/std/VOSI#capabilities</param-value>
    </init-param>
    <init-param>
      <param-name>availability</param-name>
      <param-value>ivo://ivoa.net/std/VOSI#availability</param-value>
    </init-param>
    <init-param>
      <param-name></param-name>
      <param-value>ivo://ivoa.net/std/TAP</param-value>
    </init-param>
    <init-param>
      <param-name>tables</param-name>
      <param-value>ivo://ivoa.net/std/VOSI#tables</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>TAPCapabilities</servlet-name>
    <url-pattern>/tap/capabilities</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SiteDesc</display-name>
    <servlet-name>SiteDesc</servlet-name>
    <servlet-class>ajaxservlet.SiteDesc</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>SiteDesc</servlet-name>
    <url-pattern>/sitedesc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JSAttributeHandlers</display-name>
    <servlet-name>JSAttributeHandlers</servlet-name>
    <servlet-class>ajaxservlet.json.JSAttributeHandlers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JSAttributeHandlers</servlet-name>
    <url-pattern>/JSAttributeHandlers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SimbadTooltip</display-name>
    <servlet-name>SimbadTooltip</servlet-name>
    <servlet-class>ajaxservlet.json.SimbadTooltip</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SimbadTooltip</servlet-name>
    <url-pattern>/simbadtooltip</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetFilter</display-name>
    <servlet-name>GetFilter</servlet-name>
    <servlet-class>ajaxservlet.admin.GetFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetFilter</servlet-name>
    <url-pattern>/getfilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetFilter</display-name>
    <servlet-name>ResetFilter</servlet-name>
    <servlet-class>ajaxservlet.admin.ResetFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetFilter</servlet-name>
    <url-pattern>/resetfilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetFilter</display-name>
    <servlet-name>SetFilter</servlet-name>
    <servlet-class>ajaxservlet.admin.SetFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetFilter</servlet-name>
    <url-pattern>/setfilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetUserFilter</display-name>
    <servlet-name>SetUserFilter</servlet-name>
    <servlet-class>ajaxservlet.admin.SetUserFilter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetUserFilter</servlet-name>
    <url-pattern>/setuserfilter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getProductInfo</display-name>
    <servlet-name>getProductInfo</servlet-name>
    <servlet-class>ajaxservlet.GetProductInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getProductInfo</servlet-name>
    <url-pattern>/getproductinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ZipAsync</display-name>
    <servlet-name>ZipAsync</servlet-name>
    <servlet-class>ajaxservlet.ZipAsync</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZipAsync</servlet-name>
    <url-pattern>/datapack/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartBuilder</display-name>
    <servlet-name>CartBuilder</servlet-name>
    <servlet-class>ajaxservlet.CartBuilder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartBuilder</servlet-name>
    <url-pattern>/cart/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartClient</display-name>
    <servlet-name>CartClient</servlet-name>
    <servlet-class>ajaxservlet.CartClient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartClient</servlet-name>
    <url-pattern>/cartclient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataLink</display-name>
    <servlet-name>DataLink</servlet-name>
    <servlet-class>ajaxservlet.DataLink</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataLink</servlet-name>
    <url-pattern>/datalink</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SecureDownload</display-name>
    <servlet-name>SecureDownload</servlet-name>
    <servlet-class>ajaxservlet.SecureDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SecureDownload</servlet-name>
    <url-pattern>/securedownload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ZipDownload</display-name>
    <servlet-name>ZipDownload</servlet-name>
    <servlet-class>ajaxservlet.ZipDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZipDownload</servlet-name>
    <url-pattern>/zipdownload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IsAlive</display-name>
    <servlet-name>IsAlive</servlet-name>
    <servlet-class>ajaxservlet.IsAlive</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IsAlive</servlet-name>
    <url-pattern>/isalive</url-pattern>
  </servlet-mapping>
</web-app>